.bg-img {
    background-image: url(../img/wp_purpleCamo.jpg);
}

.title-home {
    font-family: "sweet purple";
    font-size: 6em;
}

.subtitle-home {
    font-family: "Comic Sans MS";
    font-size: 2.5em;
    font-weight: lighter;
}
